:root {
	--primary-color: white;
	--secondary-color: black;
	--alternate-color: hsl(240, 100%, 75%);
	--size-primary: 50px;
	--size-title: 50px;
	--size-nav: 40px;
	--size-nav-alternate: 40px;
}

.App {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
}
.fullscreen {
	background-color: var(--secondary-color);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: inline-block;
	margin-top: 50px;
	margin-bottom: 50px;
	/* padding: 50px; */
	overflow: auto;
	background-color: var(--primary-color);

}
.container {
	display: flex;
}
.rows {
	flex-direction: column;
	align-items: stretch;
}
.root {
	min-height: 100vh;
	/* height: 100%; */
}
.cols {
	justify-content: flex-start;
}
.item {
}
.nav {
	align-items: center;
	justify-content: center;
	font-size: var(--size-nav);
	line-height: var(--size-nav);
}
.title {
	align-items: flex-end;
	justify-content: center;
	flex-grow: 1;
	font-weight: normal;
	font-size: var(--size-title);
	line-height: var(--size-title);
}
.menu {}
.up {}
.down {}
.left {
	align-self: flex-end;
}
.right {
	align-self: flex-end;
}
.canvas {
	flex-grow: 1;
	background-color: var(--secondary-color);
	color: var(--primary-color);
	padding: var(--size-primary);
}
.spacer {
	flex-grow: 1;
}
.alt {
	background-color: var(--secondary-color);
	width:  var(--size-primary);
	height: var(--size-primary);
	text-transform: uppercase;
	color: var(--primary-color);
}
.link-navigation,
.link-navigation:link,
.link-navigation:hover,
.link-navigation:active,
.link-navigation:visited {
	color: var(--primary-color);
	text-decoration: none;
	display: inline-block;
	min-width:  var(--size-primary);
	text-align: center;
}
.link-navigation:hover{
	background-color: var(--alternate-color);
}