.App {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
}

.container {
	display: flex;
}
.rows {
	flex-direction: column;
	align-items: stretch;
}
.cols {
	justify-content: flex-start;
}
.root {
	height: 100vh;
}
.item {
	/* background-color: hsla(0, 0%, 0%, 0.25); */
	/* margin: 5px; */
}
.nav {
	align-items: center;
	justify-content: center;
}
.title {
	align-items: flex-end;
	justify-content: center;
	flex-grow: 1;
	font-weight: normal;
}
.menu {
}
.up {
}
.down {
}
.left {
	align-self: flex-end;
}
.right {
	align-self: flex-end;
}
.canvas {
	flex-grow: 1;
}
.spacer {
	flex-grow: 1;
}
.alt {
	font-size: 50px;
	line-height: 50px;
	background-color: black;
	color: white;
	width: 50px;
	height: 50px;
	text-transform: uppercase;
}
.action,
.action:link,
.action:hover,
.action:active,
.action:visited {
	color: white;
	text-decoration: none;
	display: inline-block;
	min-width: 50px;
	text-align: center;
}
.action:hover{
	background-color: hsla(240, 100%, 75%, 0.75);
}